body {
    background-color: #a7d7ff;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

section{
    border-style: solid;
    margin: 9;
    padding: 10;
    background: #a7d7ff;

}

h1 {
    border-style: solid;
    border-width: medium;
    border-color: #131415;
    color: #0091d2;
    width: fit-content;
    margin: auto;
    background-color: #ffffff;
    padding: 5px;
    font-size: 45px;
}
article {
    width: fit-content;
    border-style: solid;
    margin: auto;
    background-color: #ffffff;
    color: #0091d2;
    border-color: #131415;
    margin-bottom: 25;
    text-align: center;
}

h2 {
    color: #0091d2;
    margin: auto;
    padding: 3;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

a:hover{
    background-color: #000000;
    font-size: 150%;
}

a:link{
    color: #0091d2;
}

a:visited{
    color: #0091d2; 
}


