body {
    background-color: rgb(195, 202, 205);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

section{
    border-style: solid;
    margin: 9;
    padding: 10;
    background: #cae0e0;
}

h1 {
    border-style: solid;
    border-width: medium;
    border-color: #131415;
    color: black;
    width: fit-content;
    margin: auto;
    background-color: #cae0e0;
    padding: 5px;
    font-size: 45px;
}
#name{
    width: fit-content;
    border-style: solid;
    margin: auto;
}

#ryan{
    background-color: rgb(195, 202, 205);
    color: black;
}
h2 {
    color: black;
    margin: auto;
    padding: 3;
}


