body {
    background-color: rgb(195, 202, 205);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

section{
    border-style: solid;
    margin: 9;
    padding: 10;
    background: #cae0e0;
}

h1 {
    border-style: solid;
    border-width: medium;
    border-color: #131415;
    color: #478aa0;
    width: fit-content;
    margin: auto;
    background-color: rgb(237, 234, 234);
    padding: 5px;
    font-size: 45px;
}

#name h2 {
    color: black;
}

#hometown h2{
    color: black;
}

#favBand h2{
    color: black;
}

#vacation h2{
    color: black;
}

